tornado==3.0

python-rest-handler==0.0.2
#git+git://github.com/paulocheque/python-rest-handler.git#egg=python-rest-handler
#git+https://github.com/paulocheque/python-rest-handler.git#egg=python-rest-handler
